*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

header{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.content-ref a{
  padding-right: 15px;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  text-decoration: inherit;
}

h1{
  font-size: 43px;
}

.login-inicio{
  text-align: center;
  color: #ffffff;
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 700;
  background-color: #4F46E5;
  cursor: pointer;
}
.user-logo{
  padding-right: 4px;
  height: 18px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
